@mixin transition($transition-property, $transition-time, $method) {
    -webkit-transition: $transition-property $transition-time $method;
    -moz-transition: $transition-property $transition-time $method;
    -ms-transition: $transition-property $transition-time $method;
    -o-transition: $transition-property $transition-time $method;
    transition: $transition-property $transition-time $method;
}

@mixin transition-delay($transition-delay-time) {
    -webkit-transition-delay: $transition-delay-time;
    -moz-transition-delay: $transition-delay-time;
    -o-transition-delay: $transition-delay-time;
    transition-delay: $transition-delay-time;
}

@mixin animation-duration($animduration) {
  -webkit-animation-duration: $animduration;
  -moz-animation-duration: $animduration;
  -ms-animation-duration: $animduration;
  -o-animation-duration: $animduration;
  animation-duration: $animduration;
}

@mixin animation-delay($animationdelay) {
    -webkit-animation-delay: $animationdelay;
    animation-delay: $animationdelay;
}
